<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <img src="images/image.png" alt="Logo do sistema">
    <form id="formulario" action="/criar-conta" method="post">

        <label for="nome">Nome Completo</label>
        <input id="nome" type="text" name="nome" placeholder="Digite o nome completo" />


        <label for="Email">Email</label>
        <input id="Email" type="email" name="Email" placeholder="Digite o email" />

        <label for="Senha">Senha</label>
        <input id="Senha" type="text" name="Senha" placeholder="Digite a senha" />


        <button type="submit">Cadastrar</button>

    </form>
</body>
</html>